
@using MyGarageMVC.Models;
<html>
    <head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    </head>
    <body>
  @model dynamic
@{
    ViewData["Title"] = "Возврат из рейса";
}
            <form class="form-inline">
                  <label>Выберите машину:</label>
                  <select name="idTransport" class="form-control">
                             @foreach(var g in Model.Garage)
                                {
                                    
                                        @foreach (var t in g.transportModel)
                                        {
                                         if (@t.OnRoad == true)
                                            {
                                             <option 
                                                 value="@t.IdTr">
                                                
                                                <tr>
                                                    <td>@t.IdTr</td>
                                                    <td>@t.Type.TypeTrans</td>
                                                    <td>@t.Brand</td>
                                                    <td>@t.Namber</td>                                                    
                                                    <td>@t.FuelType</td>
                                                    @*<td>@t.FuelQuntity</td>*@
                                                </tr> 
                                                
                                             </option>
                                          }                       
                                      }
                                  
                              }
                  </select>
                  @* <input type="submit" value="выбрать"/>*@
                    <br />
            <label>Выберите гараж куда вернуть машину:</label>
                  <select name="IdGarage" class="form-control">
                      @foreach(var garage in Model.Garage)
                        {
                          @if(garage.Id!=0)
                            {
                              <option value="@garage.Id">Гараж №@garage.Id в городе @garage.Sity</option>       
                            }
                        }
                  </select>
                <input type="submit" value="выбрать"/>
            </form>
        <div class="text-center">
          <h4 class="display-4">В рейсе находятся</h4>   
        </div>
            <table class="table">               
                  @foreach(var g in Model.Garage)
                        {                
                            @foreach (var t in g.transportModel)
                            {
                                if (@t.OnRoad==true)
                                {
                                       <tr>
                                        <td>@t.IdTr</td>
                                        <td>@t.Brand</td>
                                        <td>@t.OnRoad</td>
                                        <td>@t.Namber</td>
                                        <td>@t.Type.TypeTrans</td>
                                        <td>@t.FuelType</td>
                                        <td>@t.FuelQuntity</td>
                                    </tr>                                
                                }                                        
                            }
                        }
            </table>
            <div class="text-center">
                <h6 class="display-4">В гаражах находятся</h6>  
            </div>
            <table class="table">               
                  @foreach(var g in Model.Garage)
                    {      <tr>
                              @*<td> В гараже в городе @g.Id</td>*@
                              <td> В гараже в городе @g.Sity</td>
                          </tr>  
                         
                        @foreach (var t in g.transportModel)
                        {
                            @*if (@t.OnRoad=false)
                            {  *@                              
                                <tr>
                                <td>@t.IdTr</td>
                                <td>@t.Brand</td>
                                <td>@t.OnRoad</td>
                                <td>@t.Namber</td>
                                <td>@t.Type.TypeTrans</td>
                                <td>@t.FuelType</td>
                                <td>@t.FuelQuntity</td>
                            </tr> 
                            @*}*@
           
                        }
                        
                    }
            </table>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
    </body>
</html>
